.mainHeader {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: 16px;
  font-weight: 500;
}

.mainHeaderDark {
  background: #09090b8b;
}

.navWrapper {
  display: flex;
  gap: 20px;
}

.navLink:link,
.navLink:visited,
.navLink:active {
  color: var(--gray-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.navLink:hover {
  color: #09090b;
  cursor: pointer;
}

.mainHeaderDark .navLink:link,
.mainHeaderDark .navLink:visited,
.mainHeaderDark .navLink:active {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.mainHeaderDark .navLink:hover {
  color: #09090b;
  cursor: pointer;
}

.mainHeaderDark .logo {
  color: #fff;
}
